# EDA: Sychrony detection for classroom activities

File: 'core_classroom_analysis.py'

Checkpoint: 1

## Load data

In [4]:
from pprint import pprint
import pandas as pd
import numpy as np
import datetime

from dask import dataframe as dd
from dask.multiprocessing import get
from dask.diagnostics import ProgressBar

pbar = ProgressBar()
pbar.register()

In [7]:
# Load checkpoint shelve
import pickle

pkl_filepath = '/home/wang159/nanoHUB/projects/online_users_ts_analysis/temp/core_classroom_analysis_cp1.pkl'
with open(pkl_filepath, 'rb') as f:
    inparams = pickle.load(f)

user_activity_blocks_df = pd.read_pickle('/home/wang159/nanoHUB/projects/online_users_ts_analysis/temp/cp1_user_activity_blocks_df.pkl')
jos_users = pd.read_pickle('/home/wang159/nanoHUB/projects/online_users_ts_analysis/temp/cp1_jos_users.pkl')
toolrun_df = pd.read_pickle('/home/wang159/nanoHUB/projects/online_users_ts_analysis/temp/cp1_toolrun_df.pkl')
cluster_output_candidate = pd.read_pickle('/home/wang159/nanoHUB/projects/online_users_ts_analysis/temp/cp1_cluster_output_candidate.pkl')
detected_clusters_df = pd.read_pickle('/home/wang159/nanoHUB/projects/online_users_ts_analysis/temp/cp1_detected_clusters_df.pkl')

cluster_post_sychrony = pd.read_pickle('/home/wang159/nanoHUB/projects/online_users_ts_analysis/temp/cp1_cluster_post_sychrony.pkl')
students_info_df = pd.read_pickle('/home/wang159/nanoHUB/projects/online_users_ts_analysis/temp/cp1_students_info_df.pkl')
class_info_df = pd.read_pickle('/home/wang159/nanoHUB/projects/online_users_ts_analysis/temp/cp1_class_info_df.pkl')
classtool_info_df = pd.read_pickle('/home/wang159/nanoHUB/projects/online_users_ts_analysis/temp/cp1_classtool_info_df.pkl')

In [9]:
class_info_df

    class_id      start        end        lon        lat size
0          0 2018-01-15 2018-01-21 -86.918465  40.431767   18
1          1 2018-02-05 2018-04-19 -86.916590  40.429715   44
2          2 2018-02-26 2018-03-02 -86.917411  40.429900    6
3          3 2018-04-11 2018-04-12 -86.914700  40.425100    5
4          4 2018-04-12 2018-04-13 -86.921240  40.436680    5
..       ...        ...        ...        ...        ...  ...
142      142 2018-02-14 2018-02-14 -83.023500  39.965300    6
143      143 2018-03-26 2018-03-27 -86.917215  40.429554    7
144      144 2018-02-20 2018-04-26  -1.485820  53.364644   44
145      145 2018-02-06 2018-02-08 -86.905440  40.423740    6
146      146 2018-02-06 2018-02-10 -86.907449  40.398100   16

[147 rows x 6 columns]